/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}


body {
	font-family: 'Open Sans', sans-serif;
/* 	background-color:#ccc; */
	background-color:#f2f7fa;
	padding:0;
	margin:0;
	color:#333;
}

header div, section:not(:first-of-type), footer {
	max-width:1000px;
	margin:0 auto;
}


header div::after {
	content:"";
	display:table;
	clear:both;
}

h2 { margin-top:0; }

header { 
/* 	background-color:#fff; */
	position: absolute;
    width: 100%;
    left: 0;
    top: 30px;
    z-index: 999;
    background: transparent;
    height: auto;
}

header img { 
	display:block; 
	height:90px; 
	width:120px; 
	float:left; 
}

nav { 
	float:right;
	padding:0 30px; 
/* 	background:#fff; */
}

nav ul {
	list-style:none;
	margin:0;
	padding:0;
}

nav ul li { 
	display:inline-block; 
	height:90px;
}

nav ul li a { 
	display:block; 
	height:90px;
	line-height:90px;
	padding:0px 15px; 
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	letter-spacing:1px;
	color:#fff;
	text-transform: uppercase;
	text-decoration:none; 
}

section { position:relative; }
section h3 { margin-bottom:0; }
section h3 + p { margin:0; }
section article { padding:20px; }
section img { display:block; margin:0 auto; width:100%; }


#intro {
    background: url("../images/feature-bg.jpg") no-repeat center;
    background-size: cover;
    height:400px;
    padding-top:150px;
/*     margin-top:40px; */
}


#intro article {
	position:absolute;
	width:800px;
	top: 50%;
   	transform: translate(0, -50%);
	left:calc(50% - 420px);
/* 	background: rgba(0, 0, 0, 0.35); */
	text-align:center;
	color:#fff;
}

#intro h1 {
	font-size:40px;
	margin-bottom:0;
}
 

#blue { 
	display:inline-block; 
	background-color: #facd34;
    color: #fff;
    background-image: -owg-linear-gradient(#facd34,#f1aa38);
    background-image: linear-gradient(#facd34,#f1aa38);
/* 	background-color:#22b8f0;  */
	padding:10px; 
}

.button {
	display:inline-block;
	margin:20px 0;
	padding:15px;
	border-radius:10px;
	background:#22b8f0;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
}

footer { padding:10px 0; }

#accordion { margin-top:15px; }

















