<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>Component Five</title>
		<link rel="stylesheet" href="style.css"/>
	</head>
	<body>
		<footer>
			<div id="container">
				<aside>
					<img src="images/logo-footer.png" alt="logo"/>
					<p>&copy; 2016 | Privacy Policy</p>
				</aside>
				<nav>
					<h3>About Us</h3>
					<ul>
						<li>Vestibulum iaculis</li>
						<li>Lacinia est</li>
						<li>Proin dictum</li>
						<li>Elementum velit</li>
						<li>Consequat ante</li>
					</ul>
				</nav>
				<nav>
					<h3>Our Offers</h3>
					<ul>
						<li>Vestibulum iaculis</li>
						<li>Lacinia est</li>
						<li>Proin dictum</li>
						<li>Elementum velit</li>
						<li>Consequat ante</li>
					</ul>
				</nav>
				<nav>
					<h3>Categories</h3>
					<ul>
						<li>Vestibulum iaculis</li>
						<li>Lacinia est</li>
						<li>Proin dictum</li>
						<li>Elementum velit</li>
						<li>Consequat ante</li>
					</ul>
				</nav>
			</div><!-- end container -->
		</footer>
	</body>
</html>