<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>component 1</title>
		<link rel="stylesheet" href="style.css"/>
	</head>
	<body>
		<header>
			<img src="images/nav-logo.png" alt="Logo"/>
			<nav>
				<ul>
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Catalog</a></li>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Contacts</a></li>
					<li><a class="cart" href="checkout.html">Check Out</a></li>
					<li>
						<a class="search" href="#"><img src="images/search.png" alt="search icon"/></a>
						<form action="" method="post">
							<p><label>Search<input name="search" type="text"/></label></p>
							<p><button type="submit">Search</button></p>
							<span class="close">x</span>
						</form>
					</li>
				</ul>
			</nav>
		</header>
<!-- 
		<div>Icons made by <a href="http://www.flaticon.com/authors/vectors-market" title="Vectors Market">Vectors Market</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
		<div>Icons made by <a href="http://www.flaticon.com/authors/budi-tanrim" title="Budi Tanrim">Budi Tanrim</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
 -->
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 	<script type="text/javascript" src="js/main.js"/></script>
	</body>
</html>