/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Montserrat);

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
	margin:0;
	padding:0;
	background:#ededed;
	font-family: 'Montserrat', sans-serif;
}

header {
	max-width:1000px;
	margin:0 auto;
}

header::after, header ul::after {
	content:"";
	display:table;
	clear:both;
}

header img { float:left; }

nav { float:right; padding-top:20px; }
nav ul {
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
}

nav ul li {
	float:left;
	line-height:32px;
}

nav ul li a {
	display:block;
	padding:0 25px;
	font-size:12px;
	text-decoration:none;
	text-transform:uppercase;
	color:#333;
	letter-spacing:1px;
}

nav form {
	position:absolute;
	top:-9px;
	right:0;
	width:100%;
	height:46px;
	background:#fff;
	padding-top:3px;
	display:none;
}

nav form p {
	display:inline-block;
	margin:0;
}

nav form  p:first-child {
	width:90%;
	padding-left:10px;
}

nav form label { color:#898989; }

nav form input {
	width:80%;
	height:40px;
	line-height:40px;
	padding: 8px 30px 8px 10px;
	border:none;
}

nav button {
	border:none;
	width:24px;
	height:24px;
	background:url("images/search.png");
	cursor:pointer;
	text-indent:-9999px;
	margin-left:25px;
}

.close {
	position: absolute;
    top: 5px;
    right: -50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
    background-color: #333;
    color: #fff;
}

a[href^="checkout"] {
	width:32px;
	height:32px;
	background:url("images/shopping-cart.png");
	text-indent:-9999px;
	padding:0;
	margin-left:10px;
}

.active a { color:#547abb; }


#overlay {
	position:absolute;
	width:300px;
	height:200px;
	text-align:center;
	top:50px;
	right:50px;
	background:#fff;
	display:none;
}











